TAG=latest

PG_DATABASE_USER=postgres
PG_DATABASE_PASSWORD=THIS_IS_A_SECRET_PASSWORD_PLEASE_CHANGE_IT_AND_GENERATE_A_NEW_ONE_THAT_IS_SECURE
PG_DATABASE_HOST=db
PG_DATABASE_PORT=5432
REDIS_URL=redis://redis:6379

SERVER_URL=https://PUBLICDOMAINBEHINDREVERSEPROXY.TLD

DISABLE_DB_MIGRATIONS=false
DISABLE_CRON_JOBS_REGISTRATION=false

# Use openssl rand -base64 32 for each secret
ENCRYPTION_KEY=THIS_IS_A_SECRET_KEY_PLEASE_CHANGE_IT_AND_GENERATE_A_NEW_ONE_THAT_IS_SECURE
# FALLBACK_ENCRYPTION_KEY= # set to the previous ENCRYPTION_KEY during a rotation

STORAGE_TYPE=S_3
STORAGE_S3_REGION=local
STORAGE_S3_NAME=crm
STORAGE_S3_ENDPOINT=http://rustfs:9000
STORAGE_S3_ACCESS_KEY_ID=GENERATE_A_NEW_ONE
STORAGE_S3_SECRET_ACCESS_KEY=SECRET_ACCESS_KEY